:root {
  --main: #8558ff;
  --main2: #552ac9;
  --secondary: #ff40b3;
  --secondary2: #880353;
}

#buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  border: none !important;
  padding: 7PX 10px;
  color: #fff;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--main);
}

.btn:hover {
  background-color: var(--main2);
}

.btnOnSC,
.btnOn {
  border: none !important;
  color: #fff;
  border-radius: 4px;
  background-color: var(--secondary);
  height: 100%;
  font-weight: 500;
  margin-right: 5px;
}

.btnOnSC {
  padding: 0px 3px;
}

.TextShadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btnOnSC:hover,
.btnOn:hover {
  opacity: 80%;
  transition: all 0.2s ease-in-out;
}

.opt {
  border: none;
  padding: 7px 10px;
  margin-right: 5px;
  border-radius: 0px 4px 4px 0px;
  background-color: var(--secondary);
}

.opt:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--secondary2);
}

.container {
  display: flex;
  flex-direction: row;
}

.toggle-buttons {
  display: flex;
  flex-direction: row;
  max-height: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary2);
}

#timestamp {
  display: none !important;
}